@model web_transactions.Models.TransactionsModel
<h1>Hello, User!</h1>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="IlkSayi">İlk Sayı:</label>
        <input type="text" asp-for="IlkSayi" class="form-control" />
    </div>
    <div class="form-group">
        <label for="IkinciSayi">İkinci Sayı:</label>
        <input type="text" asp-for="IkinciSayi" class="form-control" />
    </div>
    <br />
    <div class="form-group" >
        <button type="submit" name="submit" value="topla" class="btn btn-primary">Topla</button>
        <button type="submit" name="submit" value="cikar" class="btn btn-secondary">Çıkar</button>
        <button type="submit" name="submit" value="carpma" class="btn btn-info">Çarpma</button>
        <button type="submit" name="submit" value="bolme" class="btn btn-danger">Bölme</button>
    </div>
</form>

@if (Model != null)
{
    if (Model.Sonuc != null)
    {
        <h2 class="text-success">Sonuç: @Model.Sonuc</h2>
    }
    else if (Model.SonucStr != null)
    {
        <h2 class="text-danger">Sonuç: @Model.SonucStr</h2>
    }
}
else
{
    <h2>Sonuç :</h2>
}

